<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tiny Pizza Chat</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="login_page">
  <div class="login_box">
    <h1>YOU WANT TO CHAT?...YOU WANT TO CHAT?...<br />YOU CAN'T HANDLE THE CHAT!</h1>
    <h3>OK, you can chat, just log in and come on back nah ya hear!</h3>
    <form>
      <input class="login" type="text" placeholder="What's Your Name">
      <input type="submit" value="Log In">
    </form>
  </div>
</div>

<div class="chatroom">
  <div class="message_box">
    <div class="welcome">
     <p>Welcome </p>
      <form>
        <input class="message" type="text" placeholder="Message...">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="container">
    <div class="forum">
    <ul class="tinyPizzaChatLog">
    </ul>
      <script type="text/template" data-template-name="chat">
        <ul class="dialogbox">
          <li class="username"><%= username %></li>
          <li class="message"><%= message %></li>
          <li class="createAt"><%= moment(createdAt).fromNow() %></li>
        </ul>
      </script>

  </div>
</div>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </div>
</body>
</html>
