body {
  margin: 0 auto;
}

.container {
  width: 800px;
  height: 680px;
  box_radius: 20px;
  background-color: blue;
  text-align: center;
}

.forum {
  width: 780px
  background-color: white;
}

.message_box {
  width: 780px;
  height: 100px;
  color: white;
  background-color: red;
  vertical-align: middle;
}

ul {
  padding: 0px;
  text-decoration: none;
}

button {
  width: 200px;
   height : 30px;
}
