body {
  margin: 0 auto;
  display: block;
}

.login_page {
  width: 860px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: 20px auto;
  position: relative;
  padding: 100px;
  border-radius: 10px;
  background-color: white;
  border: solid 5px #F25700;
  color: #135594;
}

.chatroom {
  display: none;
 }

.container {
  width: 960px;
  height: 540px;
  border_radius: 20px;
  background-color: #F25700;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

.forum {
  width: 900px;
  height: 490px;
  color: #135594;
  overflow-y: auto;
  overflow-x: hidden;
  padding:5px;
  margin: 20px;
}

.message_box {
  width: 960px;
  /* height: 100px; */
  color: white;
  background-color: #135594;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
  width: 200px;
   height : 30px;
}

.dialogbox {
  height: auto;
  width: auto;
  border: 5px solid #135594;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}

.username {
  display: inline-block;
  height: auto;
  width: 150px;
  /* vertical-align: middle; */
}

.message {
  text-align: left;
  display: inline-block;
  height: auto;
  width: 500px;
  /* vertical-align: middle; */
  overflow-y: auto;
  overflow-x: hidden;
}

.createdAt {
  display: inline-block;
  height: auto;
  width: 150px;
  /* vertical-align: middle; */
}
